<div class= "card-center">
    <mat-card class="example-card">
        <mat-card-content>
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Admin"> 
            
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input type="text" matInput placeholder="Ex. Pizza" >
                </mat-form-field>
              
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Password</mat-label>
                  <input type="text" matInput placeholder="Ex. It makes me feel...">
                </mat-form-field>
                <button mat-raised-button color="warn">Login</button>
              
        </mat-tab>
        <mat-tab label="Employee">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input type="text" matInput placeholder="Ex. Pizza" >
              </mat-form-field>
            
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input type="text" matInput placeholder="Ex. It makes me feel...">
              </mat-form-field>
              <button mat-raised-button color="warn">Login</button>
        </mat-tab>
        <mat-tab label="Security">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input type="text" matInput placeholder="Ex. Pizza" >
              </mat-form-field>
            
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input type="text" matInput placeholder="Ex. It makes me feel...">
              </mat-form-field>
              <button mat-raised-button color="warn">Login</button>
        </mat-tab>
        <mat-tab label="SignUp"> 
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Name</mat-label>
                <input type="text" matInput placeholder="Ex. Pizza" >
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Age</mat-label>
                <input type="text" matInput placeholder="Ex. Pizza" >
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Address</mat-label>
                <input type="text" matInput placeholder="Ex. Pizza" >
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Salary</mat-label>
                <input type="text" matInput placeholder="Ex. Pizza" >
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Date</mat-label>
                <input type="date" matInput placeholder="Ex. Pizza" >
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Phone</mat-label>
                <input type="text" matInput placeholder="Ex. Pizza" >
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input type="text" matInput placeholder="Ex. Pizza" >
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input type="text" matInput placeholder="Ex. Pizza" >
              </mat-form-field>
        </mat-tab>
        
      </mat-tab-group>
    </mat-card-content>
    </mat-card>
    
</div>